body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-direction: column;
    text-align: center;
}
h1{
    color: white;
}
button{
    background-color: transparent;
    border-radius: 2rem;
    color:aliceblue;
    width: 7rem;
    height: 5rem;
    border-color: white;
    margin-bottom: 4rem;
}
input[type=color]{
    width: 7rem;
    height: 7rem;
    border-radius: 2rem;
}
input[type=text]{
    width: 5rem;
    background-color: transparent;
    color: white;
    height: 2rem;
}
